body{
    background-image: url("/Users/Owner/web-dev/homepage/bin/rover_background.jpeg");
    font-family:Trebuchet MS;
}

h1 {
    color:white;
    text-align:center;
}

h5 {
    color:white;
    text-align:center
}

#icons div {
  display: inline-block;
  text-align:center
}

a.nasa_logo {
    position: absolute
}